.img {
    height: 90vh;
    width: 100vw;
}

.img1 {
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

.body {
    background-color: rgb(253, 251, 255);
    display: flex;
    gap: 100px;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    font-size: 25px;
}

.child {
    max-width: 30vw;
    color: black;
}

.heading, .para, .btn{
    margin: 10px 0px;
}

.btn {
    padding: 15px;
    border-radius: 20px;
}